html,
body {
  --bs-light-rgb: 236, 236, 236;
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: rgb(8, 8, 8);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: rgb(8, 8, 8);
}


/* Keep this for login buttons */
.login-signup-btn {
  background-color: #fff !important;
  color: #000 !important;
  border-radius: 50px;
  border: 1px solid #ddd;
}

.login-signup-btn:hover {
  background-color: #f2f2f2 !important;
}
